@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body,html{
    font-family: 'Roboto',sans-serif;
}
.nav-link{
    color: #383838;
}
.meal-block h5 {
    text-align: center;
    padding: 5px 0px;
    background: #ddd;
}